In [4]:
import pandas as pd

df = pd.read_csv('/Users/keshavsaraogi/Desktop/movie-lens-20m/rating.csv')
df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [6]:
# the userId should be from 0...N-1
df.userId = df.userId - 1

In [8]:
uniqueMovieIds = set(df.movieId.values)

movieToIndex = {}
count = 0
for movieId in uniqueMovieIds:
    movieToIndex[movieId] = count
    count += 1
count

26744

In [9]:
df['movie_idx'] = df.apply(lambda row: movieToIndex[row.movieId], axis = 1)
df = df.drop(columns = ['timestamp'])
df.to_csv('/Users/keshavsaraogi/Desktop/movie-lens-20m/edited_rating.csv')